# Set URL for your scoped packages.
@artradeapp:react-masonry-component=https://npm.pkg.github.com

# Add the token for the scoped packages URL. This will allow you to download
# `@artrade/` packages from private projects.
'//npm.pkg.github.com/:_authToken'="${PUBLISH_TOKEN}"
